@import 'tailwindcss' source(none);

@source "../../templates/**/*.html";
@source "../../**/templates/**/*.html";

@plugin "daisyui" {
  themes: all;
}

@theme {
  --animate-wiggle: wiggle 2s ease-in-out;
  @keyframes wiggle {
    0% {
    }
    5%,
    15% {
      transform: rotate(25deg);
    }
    10%,
    20% {
      transform: rotate(-25deg);
    }
    25% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
}
