{% load static i18n %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}" data-theme="pastel">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>
      {% block title %}
        alice
      {% endblock title %}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Into the rabbit hole we go!" />
    <meta name="author" content="Alexander Vega" />
    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}" />
    {% block css %}
      <!-- Your stuff: Third-party CSS libraries go here -->
      <!-- This file stores project-specific CSS -->
      {% render_bundle 'project' 'css' %}
    {% endblock css %}
    <!-- Le javascript
    ================================================== -->
    {# Placed at the top of the document so pages load faster with defer #}
    {% block javascript %}
      <!-- Vendor dependencies bundled as one file -->
      {% render_bundle 'vendors' 'js' attrs='defer' %}
      <!-- place project specific Javascript in this file -->
      {% render_bundle 'project' 'js' attrs='defer' %}
    {% endblock javascript %}
  </head>
  <body class="{% block bodyclass %}{% endblock bodyclass %}"
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}"}'>
    {% block body %}
      <c-navbar brand_href="{% url 'home' %}" brand_text="alice">
      <h1 class="text-3xl font-bold underline">Alice Test</h1>
      <c-slot name="right">
      <div class="menu menu-horizontal px-1">
        <ul class="menu menu-horizontal">
          <li>
            <a class="btn btn-ghost" href="{% url 'home' %}">Home</a>
          </li>
          <li>
            <a class="btn btn-ghost" href="{% url 'about' %}">About</a>
          </li>
          {% if request.user.is_authenticated %}
            <li>
              <a class="btn btn-ghost" href="{% url 'users:detail' request.user.pk %}">{% translate "My Profile" %}</a>
            </li>
            <li>
              <a class="btn btn-ghost" href="{% url 'account_logout' %}">{% translate "Sign Out" %}</a>
            </li>
          {% else %}
            {% if ACCOUNT_ALLOW_REGISTRATION %}
              <li>
                <a id="sign-up-link"
                   class="btn btn-ghost"
                   href="{% url 'account_signup' %}">{% translate "Sign Up" %}</a>
              </li>
            {% endif %}
            <li>
              <a id="log-in-link"
                 class="btn btn-ghost"
                 href="{% url 'account_login' %}">{% translate "Sign In" %}</a>
            </li>
          {% endif %}
        </ul>
      </div>
      </c-slot>
      </c-navbar>
      <main class="container mx-auto p-4">
        {% if messages %}
          <div class="space-y-2">
            {% for message in messages %}
              {% with kind=message.tags %}<c-alert :kind="kind">{{ message }}</c-alert>{% endwith %}
            {% endfor %}
          </div>
        {% endif %}
        {% block main %}
          {% block content %}
            <p>Use this document as a way to quick start any new project.</p>
          {% endblock content %}
        {% endblock main %}
      </main>
    {% endblock body %}
    <!-- /container -->
    {% block modal %}
    {% endblock modal %}
    {% block inline_javascript %}
      {% comment %}
    Script tags with only code, no src (defer by default). To run
    with a "defer" so that you run inline code:
    <script>
      window.addEventListener('DOMContentLoaded', () => {
        /* Run whatever you want */
      });
    </script>
      {% endcomment %}
    {% endblock inline_javascript %}
  </body>
</html>
