{% extends "base.html" %}

{% load static %}

{% block title %}
  User: {{ object.name }}
{% endblock title %}
{% block content %}
  <div class="container mx-auto p-4">
    <h2 class="text-2xl font-semibold mb-4">{{ object.name }}</h2>
    {% if object == request.user %}
      <div class="flex flex-wrap gap-2">
        <c-button href="{% url 'users:update' %}" variant="primary">My Info</c-button>
        <c-button href="{% url 'account_email' %}" variant="primary">E-Mail</c-button>
        <c-button href="{% url 'mfa_index' %}" variant="primary">MFA</c-button>
        <!-- Your Stuff: Custom user template urls -->
      </div>
    {% endif %}
  </div>
{% endblock content %}
